nifi/email.json
{"flowContents":{"identifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","instanceIdentifier":"1ceabd2e-0196-1000-b9d1-711366f2df2c","name":"email","comments":"","position":{"x":-216.0,"y":-240.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9536ba8e-fd4f-360c-8158-51183a6adda1","instanceIdentifier":"102c1a65-f0ee-37b5-dd54-af741d372d89","name":"ConsumeIMAP","comments":"app pass: eykl humv asrw jlvz","position":{"x":-448.0,"y":-240.0},"type":"org.apache.nifi.processors.email.ConsumeIMAP","bundle":{"group":"org.apache.nifi","artifact":"nifi-email-nar","version":"2.3.0"},"properties":{"delete.messages":"false","folder":"INBOX","port":"993","connection.timeout":"30 sec","oauth2-access-token-provider":null,"host":"imap.gmail.com","Mark Messages as Read":"false","user":"esteban.schwarzbeck.f@gmail.com","Use SSL":"true","authorization-mode":"password-based-authorization-mode","fetch.size":"100"},"propertyDescriptors":{"delete.messages":{"name":"delete.messages","displayName":"Delete Messages","identifiesControllerService":false,"sensitive":false,"dynamic":false},"password":{"name":"password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"folder":{"name":"folder","displayName":"Folder","identifiesControllerService":false,"sensitive":false,"dynamic":false},"port":{"name":"port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"connection.timeout":{"name":"connection.timeout","displayName":"Connection timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"host":{"name":"host","displayName":"Host Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Mark Messages as Read":{"name":"Mark Messages as Read","displayName":"Mark Messages as Read","identifiesControllerService":false,"sensitive":false,"dynamic":false},"user":{"name":"user","displayName":"User Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use SSL":{"name":"Use SSL","displayName":"Use SSL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fetch.size":{"name":"fetch.size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"13720be1-0196-1000-d74d-a2dd3d8b72d3","instanceIdentifier":"de13393e-2610-3823-fba3-5644f7869109","name":"LogAttribute","comments":"","position":{"x":336.0,"y":336.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"c5926327-05ab-3cbe-8e44-3fcd10226ba3","instanceIdentifier":"798d25ce-1828-3853-575b-72e337a1100e","name":"LogAttribute","comments":"","position":{"x":280.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"7db60f74-9152-31ef-a6e1-f681ef95ec07","instanceIdentifier":"d60031d5-b7f0-36e8-3dfa-4eb526279a64","name":"IdentifyMimeType","comments":"","position":{"x":-440.0,"y":840.0},"type":"org.apache.nifi.processors.standard.IdentifyMimeType","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"config-file":null,"config-strategy":"Preset","use-filename-in-detection":"true","config-body":null},"propertyDescriptors":{"config-file":{"name":"config-file","displayName":"Config File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-strategy":{"name":"config-strategy","displayName":"Config Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-filename-in-detection":{"name":"use-filename-in-detection","displayName":"Use Filename In Detection","identifiesControllerService":false,"sensitive":false,"dynamic":false},"config-body":{"name":"config-body","displayName":"Config Body","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"185e4d58-0196-1000-372b-8b58ac3ced8f","instanceIdentifier":"afc3ed57-0328-3ff2-2f4d-9821156154ce","name":"LogAttribute","comments":"","position":{"x":1040.0,"y":1456.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"13e8f3ca-0196-1000-aacf-25cd75c8bbb6","instanceIdentifier":"b010715f-9344-38e3-0842-e5598f6b8c3a","name":"LogAttribute","comments":"","position":{"x":-1136.0,"y":1456.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"185cf9ff-0196-1000-0d5f-ddd31617a2b6","instanceIdentifier":"5fc52ed1-a6eb-3753-11b2-2e088e50216b","name":"RouteOnAttribute","comments":"","position":{"x":272.0,"y":1480.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","check extension":"${filename:contains(\".txt\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"check extension":{"name":"check extension","displayName":"check extension","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"1375ce16-0196-1000-8c79-d1084a42cbfa","instanceIdentifier":"a141d6c8-d1c0-36a8-ae3c-d1cead8d3ec8","name":"LogAttribute","comments":"","position":{"x":-1136.0,"y":320.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"137d6801-0196-1000-677b-a49de7aef912","instanceIdentifier":"7237eab4-7525-3813-d023-acfda3365887","name":"LogAttribute","comments":"","position":{"x":344.0,"y":568.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"ERROR","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"13f3ed0d-0196-1000-2346-dba0c088582e","instanceIdentifier":"ae9e3642-cd27-37e8-4c10-f2c006f5c316","name":"LogAttribute","comments":"","position":{"x":152.0,"y":1672.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"536b3f76-25eb-38ec-a899-469917493a7e","instanceIdentifier":"8784397d-874f-36b4-4350-35991c677b7f","name":"UpdateAttribute","comments":"","position":{"x":-432.0,"y":72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","email.uuid":"${uuid}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"email.uuid":{"name":"email.uuid","displayName":"email.uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"29a67114-06c1-33b9-b68d-14e4b56dbfa3","instanceIdentifier":"be0d267f-471b-3a76-7447-bebee541cf05","name":"ExtractEmailHeaders","comments":"","position":{"x":-424.0,"y":328.0},"type":"org.apache.nifi.processors.email.ExtractEmailHeaders","bundle":{"group":"org.apache.nifi","artifact":"nifi-email-nar","version":"2.3.0"},"properties":{"STRICT_ADDRESS_PARSING":"true","CAPTURED_HEADERS":"x-mailer"},"propertyDescriptors":{"STRICT_ADDRESS_PARSING":{"name":"STRICT_ADDRESS_PARSING","displayName":"Email Address Parsing","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CAPTURED_HEADERS":{"name":"CAPTURED_HEADERS","displayName":"Additional Header List","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"88bfb094-255b-3208-a1f4-0d54e6fc2784","instanceIdentifier":"2b55d8bf-85bc-3103-9011-e9d79f423c3d","name":"PutS3Object","comments":"access_key: FaWTPJvePsarB15FWuGO\nsecret_key: kiFZzp9IWrUYQLlADDc3WCvVCTf0XFv3yWaGeLsz","position":{"x":-424.0,"y":1496.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"http://172.17.0.3:9000","File Resource Service":null,"Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"server-side-encryption":"None","Write ACL User List":"${s3.permissions.writeacl.users}","encryption-service":null,"Read ACL User List":"${s3.permissions.readacl.users}","Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"${email.uuid}/${filename}","AWS Credentials Provider service":"0bc59205-7e6f-325f-b9ad-3d5553a60b76","Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"landing","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"true","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Region":"us-west-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false,"dynamic":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"0d07b691-de6b-305f-81ae-21a9fb255622","instanceIdentifier":"9f1fa882-0312-3514-3f6d-bc1f5ae0a15f","name":"RouteOnAttribute","comments":"","position":{"x":-512.0,"y":1048.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","check extension":"${filename:contains(\".\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"check extension":{"name":"check extension","displayName":"check extension","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"137d1687-0196-1000-69bd-c4a1874b7b37","instanceIdentifier":"43fe4c54-a173-35a9-f945-fef6705e9ef9","name":"LogAttribute","comments":"","position":{"x":-1096.0,"y":608.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"trace","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"INFO","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"1c869732-52ab-35ea-9340-a838066cb1bf","instanceIdentifier":"49285254-d62f-37e0-dfb0-48b9d901db3e","name":"ExtractEmailAttachments","comments":"","position":{"x":-424.0,"y":616.0},"type":"org.apache.nifi.processors.email.ExtractEmailAttachments","bundle":{"group":"org.apache.nifi","artifact":"nifi-email-nar","version":"2.3.0"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"64ff6dfb-7ba9-3359-83d6-0e9dcb25460d","instanceIdentifier":"8f12e1d9-c769-31de-53cb-b9755502a304","name":"UpdateAttribute","comments":"","position":{"x":232.0,"y":1048.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"filename":"${email.headers.subject}${mime.extension}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f88788f3-e18d-3c29-893b-a9961b24933b","instanceIdentifier":"44dc1f1f-6887-3182-4079-57ba1ade63e1","name":"","source":{"id":"0d07b691-de6b-305f-81ae-21a9fb255622","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9f1fa882-0312-3514-3f6d-bc1f5ae0a15f"},"destination":{"id":"88bfb094-255b-3208-a1f4-0d54e6fc2784","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"PutS3Object","comments":"access_key: FaWTPJvePsarB15FWuGO\nsecret_key: kiFZzp9IWrUYQLlADDc3WCvVCTf0XFv3yWaGeLsz","instanceIdentifier":"2b55d8bf-85bc-3103-9011-e9d79f423c3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["check extension"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"e7311e79-059a-3ab1-9e5b-07cb3afca9f2","instanceIdentifier":"5793d808-373e-3f49-9d5e-c87c99b98b15","name":"","source":{"id":"9536ba8e-fd4f-360c-8158-51183a6adda1","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ConsumeIMAP","comments":"app pass: eykl humv asrw jlvz","instanceIdentifier":"102c1a65-f0ee-37b5-dd54-af741d372d89"},"destination":{"id":"536b3f76-25eb-38ec-a899-469917493a7e","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"UpdateAttribute","comments":"","instanceIdentifier":"8784397d-874f-36b4-4350-35991c677b7f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"43951fbb-820f-340d-a522-e1bdf261569a","instanceIdentifier":"bebbff8b-46bd-3c16-9519-72b00f71172b","name":"","source":{"id":"13e8f3ca-0196-1000-aacf-25cd75c8bbb6","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"b010715f-9344-38e3-0842-e5598f6b8c3a"},"destination":{"id":"88bfb094-255b-3208-a1f4-0d54e6fc2784","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"PutS3Object","comments":"access_key: FaWTPJvePsarB15FWuGO\nsecret_key: kiFZzp9IWrUYQLlADDc3WCvVCTf0XFv3yWaGeLsz","instanceIdentifier":"2b55d8bf-85bc-3103-9011-e9d79f423c3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-798.9739685058594,"y":1677.73681640625}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"9a8303bb-bf62-3357-abd3-d5c7d3796c56","instanceIdentifier":"cfd6e0c6-9a27-3b2b-0b4f-9275956d4110","name":"","source":{"id":"185cf9ff-0196-1000-0d5f-ddd31617a2b6","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5fc52ed1-a6eb-3753-11b2-2e088e50216b"},"destination":{"id":"185e4d58-0196-1000-372b-8b58ac3ced8f","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"afc3ed57-0328-3ff2-2f4d-9821156154ce"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"3afd0c16-1f3f-39a8-80c3-fa2a56b46227","instanceIdentifier":"cbf14a24-42cf-30e7-f72b-dccb6df6c44d","name":"","source":{"id":"88bfb094-255b-3208-a1f4-0d54e6fc2784","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"PutS3Object","comments":"access_key: FaWTPJvePsarB15FWuGO\nsecret_key: kiFZzp9IWrUYQLlADDc3WCvVCTf0XFv3yWaGeLsz","instanceIdentifier":"2b55d8bf-85bc-3103-9011-e9d79f423c3d"},"destination":{"id":"13e8f3ca-0196-1000-aacf-25cd75c8bbb6","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"b010715f-9344-38e3-0842-e5598f6b8c3a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"2ef6bf25-15ec-3812-8a97-1fdd3d80983e","instanceIdentifier":"9db6591a-ae2f-3096-5ef6-7e6255f556aa","name":"","source":{"id":"29a67114-06c1-33b9-b68d-14e4b56dbfa3","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailHeaders","comments":"","instanceIdentifier":"be0d267f-471b-3a76-7447-bebee541cf05"},"destination":{"id":"1c869732-52ab-35ea-9340-a838066cb1bf","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailAttachments","comments":"","instanceIdentifier":"49285254-d62f-37e0-dfb0-48b9d901db3e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"9d6040d7-1906-3520-adf7-b10f9b30d317","instanceIdentifier":"5dc2c603-7fc7-3586-3ccf-1c4424b361a6","name":"","source":{"id":"185cf9ff-0196-1000-0d5f-ddd31617a2b6","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5fc52ed1-a6eb-3753-11b2-2e088e50216b"},"destination":{"id":"88bfb094-255b-3208-a1f4-0d54e6fc2784","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"PutS3Object","comments":"access_key: FaWTPJvePsarB15FWuGO\nsecret_key: kiFZzp9IWrUYQLlADDc3WCvVCTf0XFv3yWaGeLsz","instanceIdentifier":"2b55d8bf-85bc-3103-9011-e9d79f423c3d"},"labelIndex":0,"zIndex":0,"selectedRelationships":["check extension"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"bd79422a-2531-3bc7-ac68-ea59ad798e2d","instanceIdentifier":"a7844c2f-5ffd-360c-18a4-2c39ffc5fd9d","name":"","source":{"id":"1c869732-52ab-35ea-9340-a838066cb1bf","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailAttachments","comments":"","instanceIdentifier":"49285254-d62f-37e0-dfb0-48b9d901db3e"},"destination":{"id":"137d6801-0196-1000-677b-a49de7aef912","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"7237eab4-7525-3813-d023-acfda3365887"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"ece3ef59-02b0-3240-8758-0f9e764e3cbf","instanceIdentifier":"d1d6a65c-69f2-310d-cc9f-0fe9f2e6a850","name":"","source":{"id":"536b3f76-25eb-38ec-a899-469917493a7e","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"UpdateAttribute","comments":"","instanceIdentifier":"8784397d-874f-36b4-4350-35991c677b7f"},"destination":{"id":"29a67114-06c1-33b9-b68d-14e4b56dbfa3","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailHeaders","comments":"","instanceIdentifier":"be0d267f-471b-3a76-7447-bebee541cf05"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"154f0865-f029-30ee-ae74-affa8cc1084e","instanceIdentifier":"470be5f0-c046-3add-54b4-5ddc61458f8f","name":"","source":{"id":"1c869732-52ab-35ea-9340-a838066cb1bf","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailAttachments","comments":"","instanceIdentifier":"49285254-d62f-37e0-dfb0-48b9d901db3e"},"destination":{"id":"137d1687-0196-1000-69bd-c4a1874b7b37","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"43fe4c54-a173-35a9-f945-fef6705e9ef9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-582.5889892578125,"y":599.87548828125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"b4bf6ba5-0f5a-3799-b436-1fe22c0d8789","instanceIdentifier":"03767653-6557-3de7-fbfb-b4bd5c9058d8","name":"","source":{"id":"29a67114-06c1-33b9-b68d-14e4b56dbfa3","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailHeaders","comments":"","instanceIdentifier":"be0d267f-471b-3a76-7447-bebee541cf05"},"destination":{"id":"1375ce16-0196-1000-8c79-d1084a42cbfa","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"a141d6c8-d1c0-36a8-ae3c-d1cead8d3ec8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"bf28fcc9-7f07-37e3-8739-a7182d011d94","instanceIdentifier":"06582862-3524-3544-5ef8-6b0f19c1edb5","name":"","source":{"id":"9536ba8e-fd4f-360c-8158-51183a6adda1","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ConsumeIMAP","comments":"app pass: eykl humv asrw jlvz","instanceIdentifier":"102c1a65-f0ee-37b5-dd54-af741d372d89"},"destination":{"id":"c5926327-05ab-3cbe-8e44-3fcd10226ba3","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"798d25ce-1828-3853-575b-72e337a1100e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"6f469896-5da5-3c69-b68f-ca0010a522cd","instanceIdentifier":"58fadd9d-5dd4-3f23-8095-8921b4f9df5f","name":"","source":{"id":"0d07b691-de6b-305f-81ae-21a9fb255622","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9f1fa882-0312-3514-3f6d-bc1f5ae0a15f"},"destination":{"id":"64ff6dfb-7ba9-3359-83d6-0e9dcb25460d","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"UpdateAttribute","comments":"","instanceIdentifier":"8f12e1d9-c769-31de-53cb-b9755502a304"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"cca070f1-ce8e-3752-bc29-8d977e1be318","instanceIdentifier":"f9e89d50-9514-32aa-e141-0c16795eb6db","name":"","source":{"id":"64ff6dfb-7ba9-3359-83d6-0e9dcb25460d","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"UpdateAttribute","comments":"","instanceIdentifier":"8f12e1d9-c769-31de-53cb-b9755502a304"},"destination":{"id":"185cf9ff-0196-1000-0d5f-ddd31617a2b6","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"RouteOnAttribute","comments":"","instanceIdentifier":"5fc52ed1-a6eb-3753-11b2-2e088e50216b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"ffe38e6e-3715-368a-9735-bcf865a8daf3","instanceIdentifier":"49dbffdd-de4c-3f7c-f0ec-d853ffce3c30","name":"","source":{"id":"1c869732-52ab-35ea-9340-a838066cb1bf","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailAttachments","comments":"","instanceIdentifier":"49285254-d62f-37e0-dfb0-48b9d901db3e"},"destination":{"id":"7db60f74-9152-31ef-a6e1-f681ef95ec07","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"IdentifyMimeType","comments":"","instanceIdentifier":"d60031d5-b7f0-36e8-3dfa-4eb526279a64"},"labelIndex":0,"zIndex":0,"selectedRelationships":["attachments"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"ae2dc551-8e77-3b4d-b016-e95c45f34e64","instanceIdentifier":"e43c7ac8-5058-373c-9143-b037fca3b6a7","name":"","source":{"id":"1c869732-52ab-35ea-9340-a838066cb1bf","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailAttachments","comments":"","instanceIdentifier":"49285254-d62f-37e0-dfb0-48b9d901db3e"},"destination":{"id":"137d1687-0196-1000-69bd-c4a1874b7b37","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"43fe4c54-a173-35a9-f945-fef6705e9ef9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["attachments"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"c519e2f4-923f-38d3-8cbd-cf0dad81c9a7","instanceIdentifier":"57838281-d7aa-3369-7669-92821ca08d99","name":"","source":{"id":"88bfb094-255b-3208-a1f4-0d54e6fc2784","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"PutS3Object","comments":"access_key: FaWTPJvePsarB15FWuGO\nsecret_key: kiFZzp9IWrUYQLlADDc3WCvVCTf0XFv3yWaGeLsz","instanceIdentifier":"2b55d8bf-85bc-3103-9011-e9d79f423c3d"},"destination":{"id":"13f3ed0d-0196-1000-2346-dba0c088582e","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"ae9e3642-cd27-37e8-4c10-f2c006f5c316"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"e776254b-9d0d-3455-8eb9-464b72fc0634","instanceIdentifier":"c642f214-7a35-3a7e-a49a-327d02518b23","name":"","source":{"id":"7db60f74-9152-31ef-a6e1-f681ef95ec07","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"IdentifyMimeType","comments":"","instanceIdentifier":"d60031d5-b7f0-36e8-3dfa-4eb526279a64"},"destination":{"id":"0d07b691-de6b-305f-81ae-21a9fb255622","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"RouteOnAttribute","comments":"","instanceIdentifier":"9f1fa882-0312-3514-3f6d-bc1f5ae0a15f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"},{"identifier":"4006dcc2-9561-3a27-8c51-4beef7a7baaf","instanceIdentifier":"dec22d55-c3ee-3bdb-e7f6-312d779bbe44","name":"","source":{"id":"29a67114-06c1-33b9-b68d-14e4b56dbfa3","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"ExtractEmailHeaders","comments":"","instanceIdentifier":"be0d267f-471b-3a76-7447-bebee541cf05"},"destination":{"id":"13720be1-0196-1000-d74d-a2dd3d8b72d3","type":"PROCESSOR","groupId":"93eb91a4-8179-3bbc-94b3-3abcb4d83193","name":"LogAttribute","comments":"","instanceIdentifier":"de13393e-2610-3823-fba3-5644f7869109"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0bc59205-7e6f-325f-b9ad-3d5553a60b76","instanceIdentifier":"1d2f2078-0196-1000-d57d-ff090cc587c1","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"93eb91a4-8179-3bbc-94b3-3abcb4d83193"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}